@model FarmerApp.BidderReg

@{ ViewBag.Title = "ForgotPasswordB";
                Layout = "~/Views/Shared/_Layout.cshtml"; }

<script>
    function myFunction() {
        alert("Your Password is sent to your Mail");
    }

</script>
<body>
<br />
<br />
<!-- about breadcrumb -->
<section class="w3l-about-breadcrumb text-left">
    <div class="breadcrumb-bg breadcrumb-bg-about py-sm-5 py-4">
        <div class="container">
            <h2 class="title">Forgot Password</h2>
            <ul class="breadcrumbs-custom-path mt-2">
                <li><a href="#url">Home</a></li>
                <li class="active"><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span> Forgot password</li>
            </ul>
        </div>
    </div>
</section>


<h2>@ViewBag.m1</h2>
<h2>@ViewBag.m2</h2>

@using (Html.BeginForm())
{
@Html.AntiForgeryToken()

                <div class="form-horizontal">


                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            @ViewBag.m
                        </div>
                    </div>



                    <div class="form-group">
                        @Html.LabelFor(model => model.Contact_no, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Contact_no, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Contact_no, "", new { @class = "text-danger" })
                            @ViewBag.m1
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Submit" onclick="myFunction()" class=" btn btn-style btn-secondary btn-contact" />
                            @ViewBag.m2
                        </div>
                    </div>
                </div>}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
</body>