@{ 
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml"; 
 }

<!DOCTYPE html>
<html>
<head>
    
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    

</head>
<body>

    <section class="w3l-main-slider" id="home">
        <div class="companies20-content">
            <div class="owl-one owl-carousel owl-theme">
                <div class="item">
                    <li>
                        <div class="slider-info banner-view bg bg2">
                            <div class="banner-info">
                                <div class="container">
                                    <div class="banner-info-bg text-left">
                                        <p>BidNow</p>
                                        <h5>Experience Them Real Agricultural Bidding</h5>
                                        <a href="about.html" class="btn btn-white">Read More</a>
                                    </div>
                                </div>
                            </div>
                            <div class="banhny-w3grids">
                                <div class="banhny-w3grids-1">
                                    <img src="~/images/banner1.jpg" class="img-curve img-fluid" alt="" />
                                    <h4><a href="#" class="hnys-title">Fresh Plants</a></h4>
                                </div>
                                <div class="banhny-w3grids-1">
                                    <img src="~/images/banner2.jpg" class="img-curve img-fluid" alt="" />
                                    <h4><a href="#" class="hnys-title">Expert & Professional Bidders</a></h4>
                                </div>
                            </div>
                        </div>
                    </li>
                </div>
                <div class="item">
                    <li>
                        <div class="slider-info  banner-view banner-top1 bg bg2">
                            <div class="banner-info">
                                <div class="container">
                                    <div class="banner-info-bg text-left">
                                        <p>BidNow</p>
                                        <h5>A great Scheme for farmers</h5>
                                        <a href="about.html" class="btn btn-white">Read More</a>
                                    </div>
                                </div>
                            </div>
                            <div class="banhny-w3grids">
                                <div class="banhny-w3grids-1">
                                    <img src="~/images/banner3.jpg" class="img-curve img-fluid" alt="" />
                                    <h4><a href="#" class="hnys-title">Agricultural Products</a></h4>
                                </div>
                                <div class="banhny-w3grids-1">
                                    <img src="~/images/banner4.jpg" class="img-curve img-fluid" alt="" />
                                    <h4><a href="#" class="hnys-title">Raise Your Bid</a></h4>
                                </div>
                            </div>
                        </div>
                    </li>
                </div>
                <div class="item">
                    <li>
                        <div class="slider-info banner-view banner-top2 bg bg2">
                            <div class="banner-info">
                                <div class="container">
                                    <div class="banner-info-bg text-left">
                                        <p>BidNow</p>
                                        <h5>Best Farmed Plants</h5>
                                        <a href="about.html" class="btn btn-white">Read More</a>
                                    </div>
                                </div>
                            </div>
                            <div class="banhny-w3grids">
                                <div class="banhny-w3grids-1">
                                    <img src="~/images/banner1.jpg" class="img-curve img-fluid" alt="" />
                                    <h4><a href="#" class="hnys-title">--------------</a></h4>
                                </div>
                                <div class="banhny-w3grids-1">
                                    <img src="~/images/banner2.jpg" class="img-curve img-fluid" alt="" />
                                    <h4><a href="#" class="hnys-title">Expert & Professional Farmers</a></h4>
                                </div>
                            </div>
                        </div>
                    </li>
                </div>
                <div class="item">
                    <li>
                        <div class="slider-info banner-view banner-top3 bg bg2">
                            <div class="banner-info">
                                <div class="container">
                                    <div class="banner-info-bg text-left">
                                        <p>BidNow</p>
                                        <h5>Experience Them Real Agricultural</h5>
                                        <a href="about.html" class="btn btn-white">Read More</a>
                                    </div>
                                </div>
                            </div>
                            <div class="banhny-w3grids">
                                <div class="banhny-w3grids-1">
                                    <img src="~/images/banner3.jpg" class="img-curve img-fluid" alt="" />
                                    <h4><a href="#" class="hnys-title">Organic Fertilizers</a></h4>
                                </div>
                                <div class="banhny-w3grids-1">
                                    <img src="~/images/banner4.jpg" class="img-curve img-fluid" alt="" />
                                    <h4><a href="#" class="hnys-title">Expert & Professional Farm</a></h4>
                                </div>
                            </div>
                        </div>
                    </li>
                </div>
            </div>
        </div>
    </section>
    <!-- /main-slider -->
    <!--/grids-->
    <section class="w3l-grids-3 py-5" id="about">
        <div class="container py-md-5">
            <div class="row bottom-ab-grids align-items-center">
                <div class="col-lg-6 bottom-ab-left pr-lg-5">
                    <h6 class="sub-title">About Us</h6>
                    <h3 class="hny-title">
                        A New Way To Invest In Agriculture
                    </h3>
                    <p class="my-3 pr-lg-4">
                        This  online auction site specialises in lot of agriculture items in wide variety of different product cateogries.You
                        will always find what you are looking for.The farmer can sell and buy the product easily through this website.
                    </p>
                    <a href="about.html" class="btn btn-style btn-secondary mt-4">Read More</a>
                </div>
                <div class="col-lg-6 bottom-ab-right mt-lg-0 mt-5">
                    <img src="~/images/ab3.jpg" class="img-curve img-fluid" alt="" />
                </div>

            </div>
        </div>
    </section>


    <br /><br /><br />
    <div class="col-md-12">


        <div class="row">
            <div class=" col-md-2">
            </div>
            <div class="column col-md-3">
                <div class="card zoom">
                    <img src="~/carousel/pic2.jpg" alt="Mike" style="width:100%">
                </div>
                <div class="container">
                    <br /><br />
                    @*<p class="title">New User?Register Here</p>*@
                    <p>
                        <button class="button" onclick='window.location = "@Url.Action("FarLogin", "Farmerhome")";'>
                            Farmer Login
                        </button>@*&nbsp;New User?Register Here*@
                    <p class="title"> @Html.ActionLink("New User?Register Here", "FarmerRegister")</p>
                </div>

            </div>
            <div class="col-sm-2">
            </div>
            <div class="column  col-md-3">
                <div class="card zoom">
                    <img src="~/carousel/pic1.jpg" alt="Mike" style="width:100%">
                </div>
                <div class="container">
                    <br /><br />
                    @*<p class="title">New User?Register Here</p>*@
                    <p>
                        <button class="button" onclick='window.location = "@Url.Action("BidLogin", "Farmerhome")";'>
                            Bidder Login
                        </button>
                    <p class="title"> @Html.ActionLink("New User?Register Here", "BidderReg")</p>
                    <br /><br />
                </div>
            </div>
            <div class=" col-md-2">
            </div>
        </div>

    </div>

    <div class="container body-content">
        @*@RenderBody()*@
        <hr />
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @*@RenderSection("scripts", required: false)*@
</body>
</html>
